body {
    background-color: #f0ede7;
    border: 5px solid #9c705f; /* Define uma borda de 5px na cor marrom */
    padding: 20px;
    margin: 300px;
    height: auto;
    width: 1300px;
    margin-top: 30px;
}

.primeira_div {
    color: #9c705f;
}

.retangulo {
    width: 300px;
    height: 1000px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #9c705f;
    margin: 20px;   
    padding-top: 25px;
}

.retangulo img {
    max-height: 100%;
    width: 300px;
    object-fit: contain;
}

.texto {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color:#f0ede7;
}

.texto p {
    text-align: justify;
    margin: 12px;
}
.conteudo {
    color: #9c705f; /* Cor diferente do fundo para que o texto apareça */
    font-size: 20px;
    text-align: left;
    padding-left: 400px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 300px;
    margin-top: 75px;

}

hr {
    width: 100%; /* Define a largura da linha */
    margin: 20px auto; /* Centraliza a linha */
    background-color:antiquewhite;
    color: antiquewhite;
}

.separator {
    width: 900px;
    margin: 0px;
}